



/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}


/*
===================================
 body
====================================
*/

body{
	
	background-color: #AFBDC4;
	font-family: 'Roboto', sans-serif;
}

/*
===================================
 container fluid - full width
====================================
*/

.container-fluid.full-width {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}


/*
===================================
 Navbar
====================================
*/

.navbar{
	background-color: #253137;
	border-radius: 0;
	border:none;
	margin-bottom: 0;
	padding: 2em;
	box-shadow: 0em  0.2em 0.5em 0.1em  ;
	font-weight: bold;
	text-transform: uppercase;
}



.navbar-collapse li a {
	line-height: 1em;
	background-color: #36464E;	
	margin-left: 2em;
	font-size: 1em;	
            transition:         0.2s ease-in;
         -o-transition:      0.2s ease-in;
        -ms-transition:     0.2s ease-in;
       -moz-transition:    0.2s ease-in;
    -webkit-transition: 0.2s ease-in;

}

.navbar-collapse li a:hover {
	color: black !important; 
	/*box-shadow: inset 10em 0 0 0 #FFAA90;*/
	background-color: #FFAA90 !important;
	/*border-bottom: 0.4em solid;
	border-color:#253137;*/
}



.navbar-nav .active a {
	color: black !important;
	background-color: #EBEEF0 !important;
}


.logged li .active,
.logged  li a:hover {
	color: #EBEEF0 !important;
	background-color: #36464E !important;
	border: none !important;
}

.logged li a{
	margin-left: 0;
}



 .logged .active {
	background-color: #36464E !important;
}

.navbar-nav{
    margin-left: 4em;
    padding: 1.5em;
}

.logged{
	padding: 0;
}

.usernav {
    width:6em; 
}

.logonav {
    width:6em; 
    border: 0.5em solid #F4F1E8;
	border-radius: 50%;
 }



.sidebar-menu{
	height: 40%;
	padding-right: 0.5em;
	padding-left: 0.5em;
	/*display: inline-block;*/
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	border-right: 0.2em solid #EBEEF0;
	text-align: center;
}

.sidebar-menu p{
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	color:#EBEEF0;
	border-bottom: 0.2em solid  #EBEEF0;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}



.nav-stacked a{
	padding-right: 3em;
	padding-left: 3em;
	text-align: center;
	margin-bottom: 0.5em;
	background-color: #253137;
	color:#EBEEF0;
	border-radius: 0 !important;
	font-style: italic;
	font-size: 1em;
}


.nav-stacked .active a{
	color:black !important;
	background-color: #EBEEF0 !important;
	border-radius: 0!important;
}

.nav-stacked a:hover{
	color: black;
	border-radius: 0;
	background-color: #FFAA90 !important ;
}





/*
===================================
 Navbar - dropdown menu
====================================
*/

.dropdown{
	background-color: #36464E; 
	margin-top:1.5em;
	 margin-left: -3em; 
	 border-radius: 0em; 
	 z-index: 1; 
	 padding-left: 3.5em;  
	 line-height: 1em;
}

.dropdown-menu {
	background-color: #AFBDC4;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	min-width: 15em;
	border: 0.3em  solid white;
	border-radius:1em;    
}

.dropdown-menu li a {
	display: inline-block;
	margin-left:0;
	background-color: #AFBDC4;
	font-weight: bold;
	line-height: 1em;
	padding:1em;
	width:100%;
}



.dropdown-menu li:first-child{
	margin-top: 0.2em;
}

.dropdown-menu li:last-child{
	margin-bottom: 0.3em;
}

.dropdown-menu li a:hover { 
	background-color: #EBEEF0 !important;
	font-weight: bold;
	border-radius: 0;
	color: black !important;
}



/*
===================================
 main
====================================
*/


.main{
	background-color: #36464E !important;
	min-height: 50em ;
	padding-top: 5em;
}



/*
===================================
 Footer
====================================
*/


.CPfooter{
	background-color: #AFBDC4;
	padding: 3em;
}




.circle {
    height: 8em;
    width: 8em;
    border-radius: 50%;
    background-color: #AFBDC4;
    position: relative;
    margin: 0 auto; 
    margin-top: -7em;
}

.logo {
      z-index:1;
      width:90%; 
      margin: auto;  
  	  position: absolute;
  	  left:0;
      right: 0;
      top: 0;
      bottom: 0;
  }


.icon {
  position:relative;
  height:5em;
  width:5em;
  margin: 1em 1em;
}

.icon img {
  width:5em;
  position:absolute;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  	box-shadow: 0em  0.2em 0.5em 0.1em  ;
}

.icon img.top:hover {
  opacity:0;
}


.row{
	position: relative;
}

/*
===================================
 button About us
====================================
*/

.btn.aboutUsButton:hover{
	background-color: #FFAA90;
	border-color: #FFFFFF;
	color:black;
}


.btn.aboutUsButton:active{
	background-color: #EBEEF0;
	border-color: #FFFFFF;
	color:black;
}

.btn.aboutUsButton:focus{
	outline:none;
}

.btn.aboutUsButton{
	display: inline-block;
	position: absolute;
    background-color: #36464E;
    /*button border*/
    border:none;
    border-radius: 0;
    /*button padding*/
    /*padding: 10px 40px;*/
    /*on overflow ....*/
   	bottom:2em;
    padding: 1em;
    overflow:hidden;    
    /*text*/
    font-weight: bold;
    color:white;
    text-transform: uppercase;
  
    /*animation background*/
    cursor: pointer;
            transition:         0.2s ease-in;
         -o-transition:      0.2s ease-in;
        -ms-transition:     0.2s ease-in;
       -moz-transition:    0.2s ease-in;
    -webkit-transition: 0.2s ease-in;

    box-shadow: 0em  0.2em 0.5em 0.1em  #36464E;
 }




/*
===================================
 Project content
====================================
*/

.projContainer{
	/*float: right;*/
	padding: 0;
	padding-top: 2em;
	margin-bottom: 5em;
	/*padding-left: 10em;
	padding-right: 10em;*/
	color:#EBEEF0;
	font-family: 'Roboto';
	
}

.projContentsDiv{
	padding-left: 5em;
	padding-right: 5em;
	padding-top: 2em;
}

.projEntryTitle{
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 0.2em;
	font-style: normal;

}

.projEntryDiv{
	padding: 0.5em;
	text-align: justify;
	/*background-color: #253137;*/
	line-height: 1.5em;
	font-size: 1.2em;
	font-style: italic;
}









/*

@media screen and (max-width: 1024px) {
    .navbar-nav li a{
     line-height: 2em;
    }
}


@media screen and (max-width: 1024px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

*/