<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Members&nbsp;
                        <small>&nbsp;Lorem ipsum dolor sit amet, consectetur adipisici eli.</small>
                    </h1>
                </div>
            </div>
        </div>

        <div class="member" ng-repeat="member in members">
            <div class="col-md-6 col-lg-6 col-sm-6">
                <member-card data="member"></member-card>
            </div>
        </div>
    </div>
</div>