<div class="section section-clear">
    <div class="jumbotron jumbotron-image">
        <h1>Our projects!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisici eli.</p>
        <p>Members can contribute to projects and create their own.</p>
        <a class="btn btn-danger btn-large btn-lg" href="#">Sign up!</a>
    </div>
</div>
<!--Project #1-->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3 col-sm-5">
                <img src="http://i4.istockimg.com/file_thumbview_approve/83967207/5/stock-photo-83967207-hud-hologram-futuristic-colorful-abstract-background.jpg"
                     class="img-rounded">
            </div>
            <div class="col-md-8 col-lg-9 col-sm-7">
                <h3>Project #1</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                    elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies
                    vehicula ut id elit.</p>
            </div>
        </div>
    </div>
</div>
<hr>
<!--Project #2-->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3 col-sm-5">
                <img src="http://i2.istockimg.com/file_thumbview_approve/75447797/5/stock-photo-75447797-optical-fiber-abstract.jpg"
                     class="img-rounded">
            </div>
            <div class="col-md-8 col-lg-9 col-sm-7">
                <h3>Project #2</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                    elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies
                    vehicula ut id elit.</p>
            </div>
        </div>
    </div>
</div>
<hr>
<!--Project #3-->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3 col-sm-5">
                <img src="http://i3.istockimg.com/file_thumbview_approve/76611677/5/stock-photo-76611677-abstract-background-science-technology.jpg"
                     class="img-rounded">
            </div>
            <div class="col-md-8 col-lg-9 col-sm-7">
                <h3>Project #3</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                    elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies
                    vehicula ut id elit.</p>
            </div>
        </div>
    </div>
</div>