<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Organisations&nbsp;
                        <small>&nbsp;Partners that work with us.</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="organisation" ng-repeat="org in organisations">
            <div class="col-md-6 col-lg-6 col-sm-6">
                <organisation-card data="org"></organisation-card>
            </div>
        </div>
    </div>
</div>