
<div>
	
	<div class = "projContainer col-md-10">


	<div class="row">

		<div class = "col-md-2 pull-left">
			<side-bar></side-bar>
		</div>

		<div class = "projContentsDiv col-sm-10">

			<div class = "projEntryDiv">
				<p  class = "projEntryTitle"> Projecto </p> 
				<p> ALGUÉM NO DEEC ? </p> <br>
			</div>

			<div class = "projEntryDiv">
				<p  class = "projEntryTitle"> Descrição </p> 
				<p> A game as random as it can get. Multiplayer (online) Battle Arena, top-down cartoon-style with random generated maps, traps, mobs, weapons, etc. Developed on Unity with C# scripts.</p> <br>
			</div>

			<div class = "projEntryDiv">
				<p  class = "projEntryTitle"> Coordenador </p> 
				<p> Boas </p> <br>
			</div>

			<div class = "projEntryDiv">
				<p  class = "projEntryTitle"> Membros </p> 
				<p> Boas </p> <br>
			</div>

			<div class = "projEntryDiv">
				<p  class = "projEntryTitle"> Parcerias </p> 
				<p> Boas </p> <br>
			</div>

			<div class = "projEntryDiv">
				<p  class = "projEntryTitle"> Linguagens </p> 
				<p> Boas </p> <br>
			</div>
		</div>
	</div>
	</div>
	<div class="clearfix"></div>
</div>