
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <img ng-src="{{organisation.logo}}" class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-8">
                <div>
                    <p><h2>{{organisation.name}}</h2></p>
                    <blockquote>
                        <p>Yo</p>
                    </blockquote>
                <p><a href="{{organisation.website}}"><i class="fa fa-lg fa-fw fa-link text-muted"></i>{{organisation.website}}</a></p>
                </div>
            </div>
        </div>
    </div>
 </div>

